<div id=bottomGradient></div>
<div id=topGradient>
  <div id=topGradientTransition></div>
</div>
<canvas id=processing></canvas>
<canvas id=labels></canvas>
<div id=srsOuter>
  <img id=srsbznz src="<%= image_path('/assets/serious.png') %>">
</div>
