<%= javascript_include_tag 'processing' %>
<%= javascript_include_tag 'anima' %>

<div id=bottomGradient></div>
<div id=topGradient>
  <div id=topGradientTransition></div>
</div>
<canvas></canvas>
<div id=srsOuter><img id=srsbznz src="<%= image_path('/assets/serious.png') %>"></div>
